<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">

        <thead>
          <tr>
            <th scope="col">event id</th>
            <th scope="col">event name</th>
            <th scope="col">event date</th>
            <th scope="col">backyard id</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of eventsInDB;">
            <th scope="col">{{event.eventId}}</th>
            <td>{{event.eventName}}</td>
            <td>{{event.eventDate}}</td>
            <td>{{event.backyardId}}</td>
            <td>
              <app-update-event [event]="event" (notify)="showUpdateForm(event)"></app-update-event>
              <button class="btn btn-danger" (click)="delete(event)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="isOpened == false then template1 else template2"></ng-container>

<ng-template #template1></ng-template>
<ng-template #template2>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body">
          <div class="text-center">
            <h1>Update Event</h1>
          </div>
          <form [formGroup]="updateEventForm" (ngSubmit)="updateEvent()">
            <div class="form-group">
              <label>Event Name: </label>
              <input type="text" class="form-control" formControlName="eventName">
            </div>
            <div class="form-group">
              <label>Event Date: </label>
              <input type="date" class="form-control" formControlName="eventDate">
            </div>
            <div class="form-group">
              <label>Backyard Id: </label>
              <input type="text" class="form-control" formControlName="backyardId">
            </div>
            <br>
            <div class="form-group">
              <input class="btn btn-success w-100" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</ng-template>




<!-- [isUnchanged]="isUnchanged" (notify)="clickMe(product.name)" -->